Q1

In [25]:
a = "pwskills"
b = [1,2,3,"four"]
c = 3.41
d = (1,2)

Q2

1. str
2. str
3. list
4. float

Q3

1. / : Its a arithmatic operator which performs division operation eg. 6/3 = 2
2. % : Its a arithmatic operator which performs modulos operation. eg. 4%3 = 1
3. // : Its a arithmatic opearator, it performs floor division. eg. 4//3 = 1
4. ** : Its a arithmaic operator which performs Exponentiation operation. eg. 2**3 = 8

Q4

In [26]:
data_list = [1,2,3,4,5,6.0,7.0,"Eight",9+5j,(10,11)]

for data in data_list:
    print(data)

1
2
3
4
5
6.0
7.0
Eight
(9+5j)
(10, 11)

Q5

In [27]:
A = 16
B = 2

if A%B==0:
    print("A is purely divisible by number B")
    count = 0
    while A%B==0:
        A = A/B
        count = count+1
    print("A is purely divisible by number B",count,"times")
else:
    print("A is not purely divisible by number B")

A is purely divisible by number B
A is purely divisible by number B 4 times

Q6

In [28]:
dummy_data = list(range(25))

for data in dummy_data:
    if(data%3==0):
        print(data,"is divisible by 3")
    else:
        print(data,"is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7

Mutable datatype can be modified/updated after initial assignment eg. list while Immutable datatypes cannot be modified/updated after assignment eg. string